ipykernel
requests
numpy
pandas
tqdm
scikit-learn
joblib
pandarallel
ipywidgets
beautifulsoup4
matplotlib
lxml
jupytext
typer
flake8
black[jupyter]
mypy
isort
pytest
types-setuptools
types-requests
pre-commit
seaborn
